*{
    margin: 0;
    padding: 0;
}

/* shared style */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.hover {
    cursor: pointer;
}

button.hover:hover {
    background-color: palevioletred;
}

/* main style */
.btn{
    background-color: #469165;
    width: 164px;
    margin: 24px 0px;
    padding: 12px 16px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
}

/* navigation bar */
#navigation {
    background-color: #FFFFFF;
}
#navigation {
    display: flex;
    width: 100%;
    max-width: 1600px;
    justify-content: space-around;

}
#navigation .logo{
    max-width: 139px;
    margin: 16px 0px;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
    text-align: center;
    padding: 34px;
}
.menu ul a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}


/* banner */

#banner {
    /* background-image: url(../assets/hero-bg.png); */
    height: 674px;
    width: 100%;
    padding: 115.5px 120px 179.5px;
    box-sizing: border-box;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../assets/hero-bg.png);
}

#banner .banner-content {
    /* background-color: aqua; */
    width: 1360px;
    height: 379px;
}
#banner .banner-content .banner-header{
    text-align: center;
}
.banner-content .banner-header h1{
    font-size: 72px;
    width: 770px;
    height: 168px;
    padding: 51px 295px 16px ;
}
.banner-content .banner-header h1 .green{
    color: #30B868;
}
.banner-content .banner-header h1 .white{
    color: #FFFFFF;
}
.banner-content .banner-header p{
    font-size: 18px;
    text-align: center;
    width: 1360px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.banner-content .banner-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.banner-btn1 ul{
    list-style: none;
    display: flex;
    gap: 10px;
    text-align: center;
    /* justify-content: space-around; */
}
.banner-content .banner-btn1{
    background-color: #469165;
    width: 269px;
    height: 52px;
    padding: 16px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
}
.banner-content .banner-btn1 p{
    margin-left: 16px;
}
.banner-btn2 ul{
    list-style: none;
    display: flex;
    gap: 10px;
    text-align: center;
    /* justify-content: space-around; */
}
.banner-content .banner-btn2{
    background-color: transparent;
    /* width: 198px; */
    height: 52px;
    padding: 16px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    color: #FFFFFF;
}
.banner-content .banner-btn2 p{
    margin-right: 16px ;
}
.banner-content .banner-btn2 .vault-icon{
    width: 20px;
    height: 20px;
    margin-left:16px;
}

/* Notes */
#notes{
    padding: 0px 120px;
    /* background-color: aqua; */
}
#notes .header h2{
    height: 117px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 48px;
}
#notes .header p{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
}
#notes .cards{
    display: flex;
    gap: 24px;
}
#notes .card {
    width: 322px;
    height: 286px;
    margin-top: 44px;
    box-sizing: border-box;
    padding: 62.5px 0px;
    box-shadow: 0px 0px 8px 0px #00000021;
}
#notes .card .card-circle{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 131px;
}
#notes .card .card-header {
    width: 274px;
    font-size: 24px;
    margin: 16px 24px;
    color: #001931;
    display: flex;
    justify-content: center;
    text-align: center;
}
#notes .card .card-para{
    width: 274px;
    font-size: 16px;
    color: #627382;    
    margin: 0px 24px 62.5px;
    text-align: center;
}

/* Second Brain (sb) */

#sb{
    padding: 120px;
    /* background-color: rgb(242, 142, 12); */
}

#sb .sb-container{
    display: flex;
    gap: 60px;
}
#sb .sb-info{
    margin: 101.5px 0px;
    width: 700px;
    height: 397px;
    /* background-color: aqua; */
}
#sb .sb-info .info-message {
    color: #469165;
    font-size: 16px;
    margin-bottom: 16px;
}

#sb .sb-info .info-title {
    color: #001931;
    font-size: 48px;
    margin-bottom: 16px;
}
#sb .sb-info .info-description {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
#sb .sb-info .info-item p{
    font-size: 16px;
    color: #001931;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}
#sb .sb-info .info-item img{
    height: 20px;
    width: 20px;
}

/* content access */

#access{
    padding: 0px 120px 120px;
    /* background-color: #30B868; */
}
#access .access-content{
    background-color: #F7F6F2;
    width: 1360px;
    height: 385px;
    box-sizing: border-box;
    padding: 80px 40px;
}

#access .content-title{
    width: 1280px;
    /* background-color: red; */
    display: flex;
    font-size: 40px;
    color: #001931;
    justify-content: center;
    margin-bottom: 16px;
}
#access .content-message{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}
#access .content-btn ul{
    list-style: none;
    display: flex;
    gap: 10px;
    text-align: center;
    /* justify-content: space-around; */
}
#access .content-btn{
    background-color: #469165;
    width: 215px;
    padding: 16px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
}
#access .content-btn p{
    margin-left:16px;
}
#access .content-btn img{
    margin-right: 16px ;
}

#access .content-btn{
    margin: 0px 543px 16px;
}

#access .ending-message {
    text-align: center;
    color: #627382;
}

/* footer section */
footer{
    padding: 120px 120px 30px;
    background-color: #001931;
}
footer .footer-info{
    display: flex;
    justify-content: space-between;
}
footer .footer-info .footer-logo{
    width: 350px;
    height: 60px;
    /* background-color: #F7F6F2; */

}
footer .footer-info .footer-social{
    width: 220px;
    height: 64px;
    /* background-color: aqua; */
}
footer .footer-info .footer-social .social-hader{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
footer .footer-info .footer-social .social-logos ul{
    list-style: none;
    display: flex;
    gap: 16px;
}
footer .footer-info .footer-social .social-logos ul img{
    height: 11.5px;
    width: 11.5px;;
}
footer .footer-info .footer-social .social-logos .circle{
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}  
footer .footer-container .footer-copyright p{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    line-height: 24px;
}
footer .footer-container .footer-copyright hr{
    margin-top: 80px;
    /* color: #001931; */
}