*{
    margin: 0;
    padding: 0;
}

/* shared style */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* main style */
.btn{
    background-color: #469165;
    width: 164px;
    margin: 24px 0px;
    padding: 12px 16px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
}

/* navigation bar */
#navigation {
    background-color: #FFFFFF;
}
#navigation {
    display: flex;
    width: 100%;
    max-width: 1600px;
    justify-content: space-around;

}
#navigation .logo{
    max-width: 139px;
    margin: 16px 0px;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
    text-align: center;
    padding: 34px;
}
.menu ul a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}


/* banner */

#banner {
    /* background-image: url(../assets/hero-bg.png); */
    height: 674px;
    width: 100%;
    padding: 115.5px 120px 179.5px;
    box-sizing: border-box;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../assets/hero-bg.png);
}

#banner .banner-content {
    /* background-color: aqua; */
    width: 1360px;
    height: 379px;
}
#banner .banner-content .banner-header{
    text-align: center;
}
.banner-content .banner-header h1{
    font-size: 72px;
    width: 770px;
    height: 168px;
    padding: 51px 295px 16px ;
}
.banner-content .banner-header h1 .green{
    color: #30B868;
}
.banner-content .banner-header h1 .white{
    color: #FFFFFF;
}
.banner-content .banner-header p{
    font-size: 18px;
    text-align: center;
    width: 1360px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.banner-content .banner-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.banner-content .banner-btn1{
    background-color: #469165;
    width: 251px;
    padding: 16px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
}
.banner-content .banner-btn2{
    background-color: transparent;
    width: 198px;
    padding: 16px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    color: #FFFFFF;
}

/* Notes */
#notes{
    padding: 0px 120px;
    /* background-color: aqua; */
}
#notes .header h2{
    height: 117px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 48px;
}
#notes .header p{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
}
#notes .cards{
    display: flex;
    gap: 24px;
}
#notes .card {
    width: 322px;
    height: 286px;
    margin-top: 44px;
    box-sizing: border-box;
    padding: 62.5px 0px;
    box-shadow: 0px 0px 8px 0px #00000021;
}
#notes .card .card-circle{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 131px;
}
#notes .card .card-header {
    width: 274px;
    font-size: 24px;
    margin: 16px 24px;
    color: #001931;
    display: flex;
    justify-content: center;
    text-align: center;
}
#notes .card .card-para{
    width: 274px;
    font-size: 16px;
    color: #627382;    
    margin: 0px 24px 62.5px;
    text-align: center;
}

/* Second Brain (sb) */

#sb{
    padding: 120px;
}

#sb .sb-container{
    display: flex;
    gap: 60px;
    background-color: #30B868;
}
#sb .sb-info{
    margin: 101.5px 0px;
    background-color: aqua;
}