*{
    margin: 0;
    padding: 0;
}

/* shared style */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.btn{
    background-color: #469165;
    width: 164px;
    margin: 24px 0px;
    padding: 12px 16px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
}

/* main style */
header{
    background-color: #FFFFFF;
}
header nav{
    display: flex;
    width: 100%;
    max-width: 1600px;
    justify-content: space-around;

}
header nav .logo{
    max-width: 139px;
    margin: 16px 0px;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
    text-align: center;
    padding: 34px;
}
.menu ul a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}